<div>
    <h1>Badge boost</h1>
</div>



{% schema %}
    {
      "name": "Badge Boost",
      "target": "body",
      "settings": [
        {
          "type": "text",
          "id": "badge_text",
          "label": "Badge Text",
          "default": "Boost Your Badge"
        }
      ]
    }
    {% endschema %}